<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link href="{{ asset('bundles/css/bootstrap.min.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        </div>
    </body>
    <script src="{{ asset('bundles/js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('bundles/js/bootstrap.min.js') }}"></script>
</html>
